[slot='drawer'] nav a {
    text-decoration: none;
    transition: color 140ms;
}

[slot='drawer'] nav a .la {
    margin-top: calc(var(--lumo-space-xs) * 0.5);
}


.role {
    align-self: self-end;
    top: 46px;
    opacity: 60%;
    height: 10px;
    position: fixed;
}

.sub {
    align-self: self-start;
    top: 50px;
    opacity: 80%;
    font-size: 12px;
    position: fixed;
}

.secTitle {
    align-self: self-start;
    top: 30px;
    height: 200px;
}

[slot='drawer'] nav a::before {
    border-radius: var(--lumo-border-radius);
    bottom: calc(var(--lumo-space-xs) * 0.5);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: calc(var(--lumo-space-xs) * 0.5);
    transition: background-color 140ms;
    text-decoration: none;
}

[slot='drawer'] nav a[highlight] {
    color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
    background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
    align-items: center;
    display: flex;
}

[slot='drawer'] nav :hover {
    text-decoration: none;
}
